.movieItem {
    display: flex;
    position: relative;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.35);
    margin: 32px 0;
    font-family: Roboto;
    font-style: normal;
    width: 1400px;
    transition: all .5s ease;

    &__poster {
        display: flex;
        padding: 0 28px;
        background: #C4C4C4;
        justify-content: center;
        align-items: center; 
    }

    &__content {
        background: #4D4747;
        padding: 32px 24px;
        width: 1232px;
            
        p {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #988F8F;
            text-transform: uppercase;
        }

        &__actors {
            display: flex;

            p:last-child {
                margin-left: 8px;
                text-transform: none;
                font-weight: normal;
                font-size: 12px;
                color: #E5E5E5;
            }
        }

        > p:last-child {
            text-transform: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }

    &__duration {
        position: absolute;
        display: flex;
        top: 32px;
        right: 0;
        width: 184px;
        height: 30px;
        line-height: 30px;
        background-image: url('../img/bg_time.png');
        justify-content: center;

        p {
            margin-right: 12px;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
        }

        svg {
            margin-top: 5px;
        }
    }
}

    
.movieItem:hover {
    transform: translate(0, -8px);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 1);

}