.movieList {
    h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    }

    .movieList__back {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: rgba(255, 82, 82, 0.98);
        margin-bottom: 22px;
    }


}